numpy
pandas
matplotlib
seaborn
graphviz
scikit-learn
lazypredict

# ============================================
# Installation:
# pip install -r requirements.txt
# ============================================
